@tailwind base;
@tailwind components;

/* To ensure the minimum height of body is 100% screen height */
html, body {
  min-height: calc(var(--vh, 1vh) * 100);
}

.min-viewport-height {
  min-height: calc(var(--vh, 1vh) * 100);
}

.viewport-height {
  height: calc(var(--vh, 1vh) * 100);
}

@tailwind utilities;
