.participants{
  height: calc(90% - env(safe-area-inset-bottom) - env(safe-area-inset-top));
}

.presentation{
  display: grid;
  padding:0.5rem
}

.actionbar{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center ;
}

.oneonone{
  position: relative;
}

.oneonone .remote{
  position: absolute;
  top:1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 10;
}

.oneonone .local{
  position: absolute;
  bottom:1rem;
  right: 1rem;
  height: 15%;
  width: 15%;
  z-index: 20;
}

.media {
  min-height: 0;
  height: 100%;
  gap: 0.5rem;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  justify-items: stretch;
}

.gallery {
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
  padding:0.5rem;
}

.presenting {
  grid-template-columns: 80% 20%;
  align-items: center;
}

.presenting-screen {
  grid-row: 1/span auto;
  grid-column: 1/1;
  justify-self: center;
}

.presenting-media {
  min-height: 0;
  height: 100%;
  grid-row:auto/auto;
  grid-column:auto/auto;
}


.gallery-media video {
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin:0 auto;
}

.presenting-media video {
  aspect-ratio: 16/9;
  object-fit: cover;
  margin:0 auto;
  height: 100%;    
}


@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  }

  .gallery-media video {
    height: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
    margin:0 auto;
  }

  .presenting {
    grid-template-rows: 80% 20%;
    grid-template-columns: none;
  }

  .presenting-media video {
    aspect-ratio:1;
  }
}

@media (orientation: portrait) {
  .gallery-media video,.presenting-media video {
    aspect-ratio: 9/16;
  }
}
