.conference-layout.presentation {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 7fr 3fr;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .conference-layout.presentation {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: auto;
  }
}

@media (min-width: 1280px) {
  .conference-layout.presentation {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: auto;
  }
}


.conference-layout.presentation .users-container {
  display: grid;
  grid-template-rows: auto;
}

@media (min-width: 1024px) {
  .conference-layout.presentation .users-container {
    display: grid;
    grid-template-rows: 3fr 7fr;
    gap: 1rem;
  }
}

.conference-layout.presentation .speaker-container {
  display: none;
}

@media (min-width: 1024px) {
  .conference-layout.presentation .speaker-container {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .conference-layout.presentation .speaker-grid {
    gap: 0.5rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
  }
}
