.meeting-presentation-layout {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

@media only screen and (orientation: portrait) and (max-width: 1023px) {
  .meeting-presentation-layout .presentation-container {
    aspect-ratio: 16/9;
  }
}

@media only screen and (orientation: landscape) {
  .meeting-presentation-layout {
    display: grid;
    grid-template-rows: 2fr 1fr;
  }

  .meeting-presentation-layout .presentation-container {
    aspect-ratio: auto;
  }
}

@media only screen and (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-width: 1023px) {
  .meeting-presentation-layout {
    grid-template-rows: 100% auto;
  }

  .meeting-presentation-layout .participant-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .meeting-presentation-layout {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }
}

@media (min-width: 1280px) {
  .meeting-presentation-layout {
    display: grid;
    rid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
  }
}

.meeting-presentation-layout .participant-grid {
  height: 100%;
  align-content: flex-start;
  justify-content: center;
}

.meeting-presentation-layout .participant-item {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  vertical-align: middle;
  align-self: center;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .meeting-presentation-layout .participant-grid {
    align-content: normal;
  }

  .meeting-presentation-layout .participant-item {
    aspect-ratio: auto;
    height: 100%;
    max-height: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .meeting-presentation-layout .participant-grid {
    grid-template-columns: minmax(0, 200px) !important;
  }
}
