@tailwind base;
@tailwind components;

html, body {
  min-height: 100vh; /*older device*/
  min-height: 100dvh;
}

.min-viewport-height {
  min-height: 100vh; /*older device*/
  min-height: 100dvh;
}

.viewport-height {
  height: 100vh; /*older device*/
  height: 100dvh;
}

.prose img:first-child {
  margin-left: auto;
  margin-right: auto;
}

@tailwind utilities;
